# GitHub code owners
# See https://github.com/blog/2392-introducing-code-owners

cli/command/stack/**        @silvin-lubecki @docker/runtime-owners
contrib/completion/bash/**  @albers @docker/runtime-owners
docs/**                     @thaJeztah @docker/runtime-owners
